body {
text-align:center;
margin: auto;
border-bottom:solid 1px #3b3b38;
background-image:url("../JPEG/Giewont.jpg");
background-repeat:no-repeat;
background-size:cover;
background-position:bottom;
background-attachment:fixed;
/* max-width: 600px  */
}
#background{
background-color: #f7f3e9;
max-width: 650px;
margin: auto;
margin-top: 1em;
border: solid white 1px;
border-radius: 10px;
}

.instructions{
/* color: #3b3b38; */
color: black;
max-width: 600px;
margin: auto;
text-align: center;
border:dotted white 10px;
margin-bottom: 0.5em;
}
.headline {
/* color: #3b3b38; */
color: black;
text-align: center;
margin-bottom: -1.5em;;
}

.count {
color:black;
font-size: 75px;
}

.avatar{
max-width: 250px;
border-radius: 75%;
margin-top:1em;
}

.footer {
margin-top: 2em;
color: white;

}
/* Buttons */
.btn {
font-weight: bold;
font-size:1em;
border: none;
display: inline-block;
margin: 4px;
padding: 1.5em 5.5em;
color: white;
border-radius: 10px;
cursor:pointer;
/* width: 100%; */ size of buttons.
}

.add{
background-color: #bf0808;
margin-top:-1.75em;
}

.sub {
background-color: #97bf97;

}

.reset{
background-color: tomato;
margin-bottom: 1.75em;
}

.btn-container{
margin-top: -2em;
  }
