/********************
Mountain background
 *******************/
.background {
text-align:center;
margin: auto;
background:url("../JPEG/Giewont.jpg") fixed no-repeat center ;
background-size:cover;
}

/*******************
    Content Area
********************/
  .content{
  background-color: #f7f3e9;
  max-width:75%;
  margin: auto;
  padding:1em;
  border-radius: 10px;
  }
  .avatar{
  max-width: 12em;
  border-radius: 75%;
  margin-top:1em;
  }
  .headline {
  color: black;
  text-align: center;
  margin-bottom: -1.5em;
  }

  .count {
  font-size: 5em;
  }

  .instructions {
  border:dotted white 10px;
  }
  .footer {
  font-size: 1em;
  color: white;
  margin-top:0.5em;
  }

/**********************
         Buttons
 **********************/
 .btn {
 font-weight: bold;
 font-size:1em;
 border: none;
 padding: 0.75em 5em;
 margin: 0.25em;
 color: white;
 border-radius: 10px;
 cursor:pointer;
 }

 .add{
 background-color: #bf0808;

 }

 .sub {
 background-color: #97bf97;

 }
 .reset{
 background-color: gray;
 }

 .btn-container{
 margin-top: -4em;
   }
/***********
    Nav
********** */

nav {
display: flex;
justify-content: flex-end;
margin-right: 0.5em;

}
/*******************
    Media Queries
********************/
@media only screen and (min-width: 600px){
  .content{
    max-width: 40%;
  }
}
